<% content_for :page_title do %>
  <%= Spree.t(:review_settings, scope: :spree_reviews) %>
<% end %>

<%= form_with(model: @review_setting, url: admin_review_settings_path, method: :put, local: true) do |form| %>
  <div class="row">
    <div class="col-12 col-md-6" data-hook="reviews">
      <div class="form-check">
        <%= form.label :include_unapproved_reviews do %>
          <%= form.check_box :include_unapproved_reviews %>
          <%= Spree.t(:include_unapproved, scope: :spree_reviews) %>
        <% end %>
      </div>

      <div class="form-check">
        <%= form.label :feedback_rating do %>
          <%= form.check_box :feedback_rating %>
          <%= Spree.t(:feedback_rating, scope: :spree_reviews) %>
        <% end %>
      </div>

      <div class="form-check">
        <%= form.label :show_email do %>
          <%= form.check_box :show_email %>
          <%= Spree.t(:show_email, scope: :spree_reviews) %>
        <% end %>
      </div>

      <div class="form-check">
        <%= form.label :require_login do %>
          <%= form.check_box :require_login %>
          <%= Spree.t(:require_login, scope: :spree_reviews) %>
        <% end %>
      </div>

      <div class="form-check">
        <%= form.label :track_locale do %>
          <%= form.check_box :track_locale %>
          <%= Spree.t(:track_locale, scope: :spree_reviews) %>
        <% end %>
      </div>

      <div class="form-check">
        <%= form.label :show_identifier do %>
          <%= form.check_box :show_identifier %>
          <%= Spree.t(:show_identifier, scope: :spree_reviews) %>
        <% end %>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="form-group">
        <%= form.label :preview_size, Spree.t(:preview_size, scope: :spree_reviews) %>
        <%= form.number_field :preview_size, class: 'form-control w-auto' %>
      </div>

      <div class="form-group">
        <%= form.label :paginate_size, Spree.t(:paginate_size, scope: :spree_reviews) %>
        <%= form.number_field :paginate_size, class: 'form-control w-auto' %>
      </div>
    </div>
    <div class="col">
      <div class="form-actions">
        <%= button Spree.t('actions.update'), 'save.svg', 'submit', class: 'btn-primary' %>
      </div>
    </div>
  </div>
<% end %>
